body{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: lightblue;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 20rem;
        width: 20rem;
        background-color: white;
        border-radius: 1rem;
    }
    .container input{
        height: 2rem;
        width: 15rem;
        border-radius: 0.5rem;
        text-align: center;
        margin: 0.5rem;
    }
    .container button{
        height: 2.5rem;
        width: 8rem;
        border-radius: 0.5rem;
        background-color: lightgreen;
    }
    #result h3, #result h2{
        margin-top: 1rem;
        text-align: center;
    }
    